:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 13px 7px rgb(146 161 176 / 15%);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.logo {
  width: 200px;
  margin-left: 20px;
}

.bar-btn {
  font-size: 25px;
  color: #5A6D79;
  cursor: pointer;
  margin-right: 20px;
}


.navbar-items_list {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 0vh;
  top: 35px;
  left: 0;
  text-align: center;
  background: rgba(90, 109, 121, 1);
  transition: all .5s;
}

.navbar__items {
  display: block;
  line-height: 30px;
  margin: 30px 0px;
  list-style: none;
  padding-left: 1.5rem;
}

.navbar__items ul li a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  display: none;
}


.navbar__cta__enlace:hover {
  background-color: #5a6d7978;
  box-shadow: 0 1px 13px 7px rgb(146 161 176 / 15%);
  transform: translateY(-4px);
}

.check {
  display: none;
}

.check:checked~.navbar-items_list {
  height: 100vh;
}

.check:checked~.navbar-items_list a {
  display: block;
}


.hero {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 11.25rem;
}

.intro {
  width: 549px;
}

.hero__title {
  font-size: 48px;
}

.about {
  margin-top: 7.5rem;
}

.about__title {
  font-size: 48px;
  line-height: 55px;
  color: #9BD4D6;
  text-align: center;
}

.about__container {
  display: flex;
  justify-content: space-around;
  margin-top: 4.5rem;
}

.about__img {
  width: 550px;
  height: 350px;
}

.about__img img {
  width: 100%;
  height: 100%;
}

.about__text {
  width: 485px;

}

/* ---------------------------------------------Media Query----------------------------------------------- */
/* Desktop */
@media screen and (min-width: 769px) {
  .logo {
    margin-left: 50px;
  }

  .navbar {
    height: 80px;
  }

  .bar-btn {
    display: none;
  }

  .navbar-items_list {
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .navbar__items {
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;
    transition: none;
  }

  .navbar__items ul li a {
    color: #000;
    display: block;
  }

  /* clase para el cta en desktop */
  .active {
    background: #5A6D79;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 10px;
  }

  .navbar__items ul li a.active {
    color: #fff;
  }

}


/* Tablet */
@media screen and (max-width: 768px) {

  .navbar {
    height: 60px;
  }
  

  .hero {
    flex-direction: column-reverse;
    margin-top: 8rem;
  }

  .intro{
    width: 80%;
  }

  .hero__title{
    font-size: 2rem;
  }


  .foto img{
    width: 220px;
  }

  .about__title{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .about__img{
    width: 100%;
    height: auto;
  }

  .about__img img{
    width: 80%;
    height: auto;
  }

  .about__text {
    width: 95%;
    margin-top: 2rem;
  }

  .about__text p{
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {

  
}
