:root{
  font-size: 16px;
}

*,
*::after,
*::before{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 13px 7px rgb(146 161 176 / 15%);
}

.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; 
}

.navbar__items{
  display: flex;
  align-items: center;
}

.navbar-items_list{
  display: flex;
}

.navbar__cta{
  display: flex;
}

.navbar__items{
  list-style: none;
  padding-left: 1.5rem;
}

.navbar__items ul li a{
  text-decoration: none;
  color: #000;
}

.navbar__cta{
  padding: 0 1.8rem 0 1.5rem;
}

.navbar__cta__enlace{
  width: 160px;
  height: 50px;
  background: #5A6D79;
  padding: 14px 49px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.65, 0.39, 0.5, 1.63);
}

.navbar__cta__enlace:hover{
  background-color: #5a6d7978;
  box-shadow: 0 1px 13px 7px rgb(146 161 176 / 15%);
  transform: translateY(-4px);
}

